@import url('../style.css');

@import url('../app.css');
.standout {
  color: #e67e22;
}
.blog .blog-image-attr {
  font-size: 0.75em;
  text-align: center;
}
.careers h1 {
  color: #e67e22;
}
.careers h3 {
  margin-top: 1.5em;
}
