@import url('../style.css');

@import url('../app.css');
.standout {
  color: #e67e22;
}
.blog .blog-image-attr {
  font-size: 0.75em;
  text-align: center;
}
.page h1 {
  color: #e67e22;
}
.page h2,
.page h3 {
  margin-top: 1.5em;
  font-size: 24px;
}
.page h2:first-child,
.page h3:first-child {
  margin-top: 0;
}
.page h2 {
  color: #e67e22;
}
.page aside {
  border-left: 1px solid #ccc;
}
